@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

mat-grid-tile {
  background: lightblue;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}


/*Estilos generales*/
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/*Estilos contenedor general*/
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/*Estilos sidebar*/
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: #ff6f00;
  color: #000000;
  font-weight: bold;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #000000;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
  color: #000000;
  font-weight: bold;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #ffffff;
  background: #000000;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #ff6f00;
  background: #000000;
}

#sidebar.active {
  margin-left: -250px;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #000000;
}

/*Estilos para los botones*/
a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/*Estilos de las tarjetas*/
.example-card {
  max-width: 350px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/*Estilos del input*/
.mat-input-underline{
  background-color: #ffffff;
}
