<section class="filter-wrapper">
  <div class="keyword-wrapper">
    <input type="text" [formControl]="queryField" id="keyword" placeholder="Buscar componente..." autofocus/>
  </div>

  <mat-grid-list class="card-grid" cols="2" rowHeight="150px">
    <!--Divides structure in small chunks-->
    <mat-grid-tile *ngFor="let card of results" [colspan]="1" [rowspan]="1">
      <!--Every chunks acts as a card component-->
      <mat-card class="dashboard-card">
        <!--Card header-->
        <mat-card-header>
          <mat-card-title style="font-weight: bold">
            {{card.name}}
          </mat-card-title>
        </mat-card-header>
        <!--Content of card -->
        <mat-card-content class="dashboard-card-content">
          <div>
            <a href="{{card.web_url}}" target="_blank"> Enlace a {{card.name}}</a>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div>Grupo responsable: {{card.namespace.path}}</div>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</section>
