<div class="grid-container">
  <h1 class="mat-h1">Listado de componentes AngularJS</h1>
  <!--Main grid container-->
  <mat-grid-list cols="4" rowHeight="150px">
    <!--Divides structure in small chunks-->
    <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="1">
      <!--Every chunks acts as a card component-->
      <mat-card class="dashboard-card">
        <!--Card header-->
        <mat-card-header>
          <mat-card-title>
            {{card.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <!--Content of card -->
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
