<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 single-card" *ngFor="let card of results">
      <div class="card">
        <div class="card-header">{{card.name | trimGitRepoName}}
        </div>
        <div class="card-body">
          <p class="card-text">{{card.description}}</p>
          <p class="card-text">Grupo perteneciente: {{card.namespace.path}}</p>
          <a class="navigate-button" [routerLink]="['/componentCard', card.id]">
            <span class="text-button">
            Ir a {{card.name | trimGitRepoName}}
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
