.wrapper {
  display: flex; /*enables flex content for its children*/
  height: 100vh;
  overflow: hidden; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px; /*removes default style*/
  box-sizing: border-box;
}

.column {
  height: 100%; /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;
}

.sidebarOutletWrapper {
  flex-shrink: 0;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}

.principalOutletWrapper {
  flex: 1 1 auto;
  overflow: auto;
}

.titulo-catalogo {
  /*background: #000;*/
  color: #000000;
  border-left: 2px solid #ffffff;
}
