<section>
  <h2>Prueba de listado repositorios GitLab</h2>
  <ol>
    <li style="float:left" *ngFor="let result of results">
      <span style="font-weight: bold">Nombre: </span> <span>{{result.name}}</span>
      <span>Link:</span> <a href="{{result._links.self}}">{{result.name}}</a>
    </li>
  </ol>
</section>

<script>
  // Impersonate hash
  IMPERSONATE = "Jr1bgb7iA46sbYqzxjRe";
  PRIVATETOKEN = "private_token=" + IMPERSONATE;
  // API URLs:
  var URLGITLAB="https://torredecontrol.si.orange.es/gitlab";
  var URLGITLABAPIGROUPS= URLGITLAB + "/api/v4/groups";
  var URLGITLABAPIUSERS = URLGITLAB + "/api/v4/user";

  // List groups is a paginated API, so loop while exists nextPage in headers.
  function getGroups(nextPage, elementId, ggroups) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', nextPage, true);
    xhr.responseType = 'json';
    xhr.onload = function () {
      if (xhr.status == 200 && xhr.response != null) {
        if (!ggroups) {
          ggroups = [];
        }
        ggroups = ggroups.concat(xhr.response.map(a => ({avatar_url: a.avatar_url, full_name: a.full_name, web_url: a.web_url})));
      }
      var np = xhr.getResponseHeader("Link").match(/<(.*?)>; rel=\"next\"/);
      if (np && np[1]) {
        getGroups(np[1], elementId, ggroups);
      } else {
        document.getElementById(elementId).innerHTML = printGroups(ggroups);
      }
    };
    xhr.onerror = function () {
      document.getElementById(elementId).innerHTML="error";
    };
    xhr.send();
  }

  function printGroups(groups) {
    var html = '<table><tr><th></th><th>Grupo</th></tr>';
    groups.forEach(function(group) {
      html += '<tr><td>';
      if(group.avatar_url) {
        html += '<img src="'+group.avatar_url+'"height="24" width="24">'
      }
      html += '</td><td><a href="'+group.web_url+'" target="_blank">'+group.full_name+'</a></td></tr>';
    });
    html += '</table>';
    return html;
  }
  /////////////////////
  // Get List of Groups
  var nextPage = URLGITLABAPIGROUPS + "?" + PRIVATETOKEN
  getGroups(nextPage, "prueba");


</script>
<div id="prueba">
</div>
