<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="../../../assets/images/logo-orange.png" height="65px" width="65px"/>
      <h6>Cat&aacute;logo de componentes</h6>
    </div>
    <ul class="list-unstyled components">
      <p>Categor&iacute;as</p>
      <p>
        <app-searchbox></app-searchbox>
      </p>
      <li>
        <a href="#"
           class="dropdown-toggle"
           data-toggle="collapse"
           (click)="isCollapsed = !isCollapsed"
           [attr.aria-expanded]="!isCollapsed"
           aria-controls="homeSubmenu">Web Components</a>
          <ul class="collapse list-unstyled submenu" id="homeSubmenu" [ngbCollapse]="isCollapsed">
            <li>
              <a href="#">Componentes de UI</a>
            </li>
            <li>
              <a href="#">Componentes de API</a>
            </li>
            <li>
              <a href="#">Componentes de negocio</a>
            </li>
          </ul>
      </li>
      <li>
        <a href="#">AngularJS</a>
      </li>
      <li>
        <a href="#">Angular 5+</a>
      </li>
    </ul>
  </nav>
</div>
